.responsive-image{
    max-width: 100%;
    height: auto;
    display:flex;
    float:right;
}
@media (max-width: 767px) {
    .responsive-image {
        display: none;/* Adjust the image width as needed for mobile */
    }
}
/* Media query for larger screens (768px and above) */
@media (min-width: 768px) {
    .responsive-image {
        width: 50%; /* Adjust the image width as needed for laptops/desktops */
    }
}
.text1{
    padding-top: 5%;
    color: black;
    font-weight: bolder;
}
.text2{
    color:#5869ff;
    font-weight:bolder;
}
.login-container{
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content:center ;
    max-width:25em;
    max-height:100vh;
    border-radius: 25px;
    margin-left:10%;
}
.title1{
    padding-top: 20px;
    font-size: 45px;
    padding-bottom: 20px;
    font-weight: bold;
}
.icon1{
    padding-top: 15px;
    padding-top: 60px;
    font-weight: bold;
    color: black;
}
.arrow{
    padding-right: 20px;
    padding-top: 10px;
    max-width: 12px;
    max-height: 12px;
}
.no-underline{
    text-decoration: none;
    color:#5869ff ;
    font-weight: bold;
    
}
.faq{
    padding-top: 170px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight: bolder;
    opacity:calc(90%);
}